* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

div{
    display: inline-block;
}

#question, #divScore{
    border: 2px solid black;
    padding: 2rem;
    margin: 5rem;
}

#divScore{
    position: fixed;
}

@media screen and (max-width: 600px){
    #container{
        display: flex;
        flex-flow: column nowrap;
    }

    #question{
        width: 100%;
    }

    #question, #divScore{
        padding: 0.5rem;
        margin: 0;
    }

    *{
        margin: 0;
        padding: 0;
    }

    #divScore{
        position: relative;
    }
}